* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: auto;
  display: flex;
  /* grid-template-columns: repeat(5, 1fr); */
  gap: 50px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.box {
  width: 200px;
  height: 200px;
  color: white;
  font-size: 30px;
  text-align: center;
  line-height: 200px;
  border-radius: 20px;
  background-color: blanchedalmond;
}

/* #box1 {
  background-color: yellow;
}

#box2 {
  background-color: green;
}
#box3 {
  background-color: blue;
}
#box4 {
  background-color: aqua;
}
#box5 {
  background-color: brown;
}
#box6 {
  background-color: pink;
}
#box7 {
  background-color: orange;
}
#box8 {
  background-color: purple;
}

#box9 {
  background-color: gray;
} */

#btn {
  margin-top: 20px;
  border: 2px;
  size: 30px;
  background-color: gray;
  padding: 10px;
}
#addbtn {
  margin-top: 20px;
  border: 2px;
  size: 30px;
  background-color: gray;
  padding: 10px;
}
